---
const links = [
    {
        name: "HOME", href: "/"
    },
    {
        name: "PORTFOLIO", href: "/portfolio"
    },
    {
        name: "SERVICES", href: "/services"
    },
    {
        name: "ABOUT", href: "/about"
    },
    {
        name: "CONTACT", href: "/contact"
    },
]
---
<style>
    .links-container {
        display: flex;
        gap: 5.5rem;
        padding: 1.5em;
        flex-direction: row;
        justify-content: center;
        font-size: larger;
    }

    ._links-container {
        display: flex;
        flex-direction: column;
    }

    a {
        display: block;
        text-decoration: none;
        text-shadow: 0 0 10px rgba(201, 197, 255, 0.7);
        color: #7050ff;
        font-family: 'Arial', sans-serif;
    }

    a:hover {
        color: #9a83ff;
        text-shadow: 0 0 20px rgba(201, 197, 255, 1);
    }

</style>
<header>
    <nav>
        <div class="_links-container">
            <div class="links-container">
                {
                    links.map((item) => (
                        <a href={item.href}>
                            <span>{item.name}</span>
                        </a>
                    ))
                }
            </div>
        </div>
    </nav>
</header>