---
export interface Props {
    projectName: string;
    index: number;
}
const { projectName, index } = Astro.props;
---

<button class="title-button" data-index={index}>{projectName}</button>

<style>
    .title-button {
        position: relative;
        width: 30em;
        height: 3em;
        font-size: x-large;
        color: #7050ff;
        background-color: transparent;
        border: none;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .title-button:hover {
        background-color: #7050ff;
        color: #000;
    }
    /* The box to the left of button content*/
    .title-button::before {
        content: "";
        width: 0.5em;
        height: 0.5em;
        border: 2px solid #7050ff;
        background-color: transparent;
        display: inline-block;
        visibility: hidden;
        margin-left: 4px;
    }
    .title-button.selected::before {
        background-color: #7050ff;
        color: #000;
        visibility:visible;
    }
    .title-button.selected:hover::before {
        background-color: #000000;
        border: 2px solid #000000;
    }
</style>